<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=edge">
  <title>L'habilleur Intelligente</title>
  {% load static %}
  {% get_static_prefix as STATIC_PREFIX %}
  <link href="{{ STATIC_PREFIX }}css/bootstrap-tree.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_PREFIX }}la_habilleur/css/bootstrap-colorpicker.css"  rel="stylesheet">
  <link href="{{ STATIC_PREFIX }}la_habilleur/css/stylesheet.css"  rel="stylesheet">
  <link href="{{ STATIC_PREFIX }}la_habilleur/lhabilleur_blue.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/la_habilleur/">L'habilleur Intelligente</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="manage"><a href="/la_habilleur/">Manage wardrobe</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group email">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group passwd">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
  <div class="container body">
    <div class="row error-message">
      {% if error_message %}
          <div class="alert alert-error">
            <p><strong>{{ error_message }}</strong></p>
          </div>
      {% endif %}
    </div>
    <div class="row manage-wardrobe">
      <div class="col-lg-3 current-wardrobe" style="color:#000000">
        <div class="wardrobe-header" style="font-size:150%">Current wardrobe</div>
        <br>
        <ol>
          {% load la_habileur_template %}
          {% for ind in the_wardrobe %}
            <li style="margin-right: 60px">
              {{ cloth_db.clothes_by_id|print_element:ind.id }}
              <div style="float: right">
              <canvas width="20" height="10" style="border:1px solid #000000;
              background-color:{{ ind.color|hsv_to_hex }};">
              </canvas>
              </div>
            </li>
        {% endfor %}
        </ol>
        {% load url from future %}
        <div class="drop" style="margin-top:30px">
          <a href="{% url 'la_habilleur:drop-wardrobe' %}"
         class="btn btn-default btn-large" style="width:150px">Drop wardrobe</a>
        </div>
        <div class="manage mng-wardrobe" style="margin-top:10px">
          <a href="{% url 'la_habilleur:display-wardrobe' %}" class="btn btn-default btn-large" style="width:150px">Manage wardrobe</a>
        </div>
        <div class="manage mng-suits" style="margin-top:10px">
          <a href="{% url 'la_habilleur:manage-suits' ''%}" class="btn btn-default btn-large" style="width:150px">Manage suits</a>
        </div>
        <br>
      </div>
      <div class="col-lg-4 wardrobe-items-tree">
        <div class="well">
          <ul class="tree">
            {% for slot in cloth_db.clothes_by_slot.iterkeys %}
              <li>
                <a href="#" style="color:#000000" class="tree-toggle closed" data-toggle="branch"
                data-value="Bootstrap_Tree">{{ slot }} </a>
                <ul class="branch closed">
                  {% for cloth in cloth_db.clothes_by_slot|lookup:slot %}
                    <li><a href="#" style="color:#000000"
                    onclick="UpdateSelection('{{ cloth.name }}')">{{ cloth.name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div><!--/.well -->
      </div>
      <div class="col-lg-4 add-item-form" style="color:#000000">
        <div class="add-header" style="font-size:150%">Add item</div>
        <br>
        <div class="row">
          <form action="{% url 'la_habilleur:add-to-wardrobe' %}" method="post" class="form-inline">
            <div id="cloth_color_selector" class="col-lg-2 input-append color bscp" data-color="#000000">
              <input type="hidden" name="cloth_color" value="#000000">
              <span class="add-on"><i></i></span>
            </div>
            {% csrf_token %}
            <div class="col-lg-6">
              <input type="text" class="form-control" placeholder="Text input" name="cloth_name" id="cloth_to_add" autocomplete="off"
               data-provide="typeahead"
               data-items="4" data-source='[{% for cloth_list in cloth_db.clothes_by_slot.itervalues %}
               {% for cloth in cloth_list %} "{{ cloth.name }}"
               {% if not forloop.parentloop.last or not forloop.last %},{% endif %}
               {% endfor %}
               {% endfor %}
               ]'>
            </div>
            <div class="col-lg-4 add-button">
              <input class="btn btn-default" type="submit" value="Add">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js">
  </script>
  <script src="{{ STATIC_PREFIX }}js/bootstrap-tree.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_PREFIX }}la_habilleur/js/bootstrap-colorpicker.js"></script>
  <script src="{{ STATIC_PREFIX }}la_habilleur/js/display_wardrobe.js"></script>
</body>
</html>
